::-webkit-scrollbar {
  display: none;
}

[hidden] {
  display: none;
  opacity: 0;
  visibility: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  overflow: -moz-scrollbars-none;
}

body {
  background-color: #eee;
  color: #222;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.6rem;
}

main {
  height: 100%;
  margin: 0 auto;
  width: 100vw;
}

ul,
li {
  list-style: none;
}

ul a:hover,
ul a:focus,
img.active {
  filter: brightness(75%);
  outline: none;
  transition: all 0.2s ease-in-out;
}

ul,
dialog {
  background-color: #fff;
  border-radius: 30rem;
  box-shadow: 0 4px 9px 0 rgba(30, 59, 91, 0.1);
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - 10rem);
  margin: 5rem;
  overflow-x: hidden;
  overflow-y: scroll;
  width: calc(100% - 10rem);
  li {
    height: 33.333%;
    width: 50%;
    a {
      cursor: zoom-in;
    }
  }
  img {
    display: block;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    width: 100%;
  }
}

dialog {
  background: #fff;
  border: none;
  flex-direction: column;
  margin: 0 auto;
  opacity: 0;
  overflow: hidden;
  transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out,
    border-radius 0.3s ease-in-out 0.5s;
  visibility: hidden;
  z-index: 5;
  img {
    cursor: zoom-in;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, width 0.3s ease-in-out 0.5s;
    width: 100%;
  }
  article {
    box-shadow: inset 0 -1px 0 0 #eee, inset 1px 0 0 #eee;
    cursor: zoom-out;
    height: 50%;
    overflow-y: scroll;
    padding: 3rem;
    position: relative;
    width: 50%;
    &::after {
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.75) 100%
      );
      bottom: 0;
      content: "";
      height: 2.55rem;
      left: 0;
      position: sticky;
      width: 100%;
    }
  }
  aside {
    cursor: zoom-out;
    display: flex;
    flex-wrap: wrap;
    height: 50%;
    overflow-y: scroll;
    position: relative;
    width: 50%;
    &::after {
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.75) 100%
      );
      bottom: 0;
      content: "";
      height: 2.55rem;
      left: 0;
      position: sticky;
      width: 100%;
    }
    img {
      cursor: pointer;
      height: 33.333%;
      width: 50%;
    }
  }
  p,
  h2 {
    opacity: 0;
    transition: opacity 0.2s ease-in-out 0.5s;
  }
  h2 {
    font-size: 4rem;
    line-height: normal;
    margin-bottom: 3rem;
  }
  p {
    margin-bottom: 1.25rem;
  }
  &.open {
    border-bottom-right-radius: 5rem;
    border-top-right-radius: 5rem;
    opacity: 1;
    visibility: visible;
    img {
      width: 50%;
      &.fullWidth {
        cursor: zoom-out;
        width: 100%;
      }
    }
    img,
    p,
    h2 {
      opacity: 1;
    }
  }
}

#loader {
  align-items: center;
  background-color: #fff;
  border-radius: 30rem;
  display: flex;
  height: calc(100vh - 10rem);
  justify-content: center;
  left: 5rem;
  position: fixed;
  width: calc(100% - 10rem);
}

.fadeIn {
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
