*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

body {
  color: #2f2f2f;
  font-family: system-ui;
  line-height: 1.6rem;
  scroll-behavior: smooth;
}

h1,
h2 {
  font-family: Georgia;
}

li {
  list-style-type: none;
}

a {
  color: #039be5;
  text-decoration: none;
}

main {
  border-left: 1px solid #eceff1;
  margin-left: 300px;
}

nav {
  background-color: #fff;
  box-shadow: inset -0.5rem 0 2rem 0 rgba(0, 0, 0, 0.05);
  height: 100vh;
  position: fixed;
  width: 300px;

  header {
    background-color: #fff;
    border-bottom: 1px solid #eceff1;
    height: 25vh;
    text-align: center;
    text-transform: uppercase;

    h1 {
      line-height: 25vh;
    }
  }

  ol {
    height: 75vh;
    overflow-y: scroll;
  }

  li {
    border-top: 1px solid #eceff1;

    strong {
      margin-right: 0.25rem;
    }

    &:first-of-type {
      border-top: none;
    }

    &:last-of-type {
      border-bottom: 1px solid #eceff1;
    }
  }

  a {
    color: #2f2f2f;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;

    &.highlight,
    &:hover {
      background-color: #2f2f2f;
      color: #fff;
    }

    &:not(.highlight):focus {
      box-shadow: inset 0 0 0 2px #2f2f2f;
    }
  }
}

article {
  border-bottom: 1px solid #eceff1;
  padding: 8rem 20%;

  h2 {
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 4rem;
    margin-left: -1em;
    position: relative;

    span {
      color: #eceff1;
      font-size: 25rem;
      font-weight: lighter;
      position: absolute;
      z-index: -1;
    }
  }

  p {
    font-size: 1.25rem;
    line-height: 1.5em;
  }

  > a {
    display: block;
    height: 0;
    opacity: 0;
    user-select: none;

    &:focus {
      height: auto;
      margin-top: 1.25rem;
      opacity: 1;
      user-select: unset;
    }

    &:focus::before {
      animation: point 1s infinite;
      content: "👉";
      margin-right: 0.5rem;
    }
  }
}

.examples-list {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  img {
    display: block;
    filter: none;
    height: 180px;
    object-fit: cover;
    object-position: center center;
    transition: filter 0.2s ease-in-out;
    width: 100%;

    &:hover {
      filter: grayscale(100%);
    }
  }

  li {
    display: inline-block;
    margin-right: 1.5rem;
    margin-top: 4rem;
    text-align: center;
    width: calc(33.333% - 2rem);
    position: relative;

    &:last-of-type {
      margin-right: 0;
    }

    &:focus-within img {
      filter: grayscale(100%);
    }
  }

  a:focus::before,
  a:hover::before {
    content: "+";
    color: #fff;
    font-size: 3rem;
    left: 0;
    line-height: 180px;
    position: absolute;
    top: 0;
    width: 100%;
    user-select: none;
    z-index: 5;
    background-color: rgba(3, 155, 229, 0.8);
  }

  button {
    background-color: transparent;
    border-radius: 0;
    border: none;
    cursor: pointer;
    font: inherit;
    padding: 0.5rem 0;
    width: 33.333%;

    &:hover,
    &:focus {
      background-color: #2f2f2f;
      color: #fff;
    }

    &::-moz-focus-inner {
      border: 0;
    }
  }

  span {
    display: inline-block;
    font-weight: bold;
    width: 33.333%;
  }
}

#detailsPage {
  display: flex;
  height: 100vh;
  margin-left: 300px;
  opacity: 0;
  position: fixed;
  transition: opacity 0.3s ease-in-out;
  user-select: none;
  visibility: hidden;
  width: calc(100% - 300px);
  z-index: 10;

  &:target {
    opacity: 1;
    user-select: unset;
    visibility: visible;
  }

  * {
    margin: 0;
    padding: 0;
  }

  img,
  article {
    width: 50%;
  }

  img {
    object-fit: cover;
    object-position: center center;
  }

  article {
    background-color: #fff;
    padding: 3rem;

    h2 {
      margin-bottom: 3rem;
    }

    h3 {
      margin-bottom: 0.5rem;
    }

    #repoURL {
      font-size: 1rem;

      a {
        margin-left: 0.5rem;
        transition: all 0.2s ease-in-out;

        &:hover::before,
        &:focus::before {
          animation: point 1s infinite;
          content: "👉";
          margin-right: 0.5rem;
        }
      }
    }

    #principles {
      margin-top: 3rem;

      li {
        margin-bottom: 2rem;
      }
    }
  }

  #close {
    background-color: #eceff1;
    color: #2f2f2f;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.2s ease-in-out;
    z-index: 11;

    &:hover,
    &:focus {
      background-color: #2f2f2f;
      color: #fff;
    }
  }
}

@keyframes point {
  0% {
    margin-right: 0.5rem;
  }

  50% {
    margin-right: 1rem;
  }

  100% {
    margin-right: 0.5rem;
  }
}

#introduction {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;

  h2 {
    margin: 0 0 3rem;
  }

  div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
  }

  button {
    background-color: transparent;
    border: 2px solid #2f2f2f;
    cursor: pointer;
    letter-spacing: 1px;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;

    &:hover,
    &:focus {
      background-color: #2f2f2f;
      color: #fff;
    }

    &::-moz-focus-inner {
      border: 0;
    }
  }
}
